In [1]:
# 라벨 다른 경우 수정 및 중복 제거

In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv("../dataset/train/train.csv", sep=",")

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32470 entries, 0 to 32469
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              32470 non-null  int64
 1   sentence        32470 non-null  object
 2   subject_entity  32470 non-null  object
 3   object_entity   32470 non-null  object
 4   label           32470 non-null  object
 5   source          32470 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.5+ MB

In [5]:
# 중복 데이터 수
dataset.duplicated(['sentence', 'subject_entity', 'object_entity'], keep=False).sum()

93

In [6]:
# 라벨까지 같은 중복 데이터 수
dataset.duplicated(['sentence', 'subject_entity', 'object_entity', 'label'], keep=False).sum()

84

In [7]:
# 라벨까지 같은 중복 데이터 확인
dataset_duplicated_info = dataset.duplicated(['sentence', 'subject_entity', 'object_entity'], keep=False)
dataset_duplicated = dataset.loc[dataset_duplicated_info, :]
dataset_duplicated

,id,sentence,subject_entity,object_entity,label,source
255,255,2010년 10월 15일 전라북도청을 방문한 맹형규 행정안전부 장관은 도내 지자체간...,"{'word': '전라북도청', 'start_idx': 14, 'end_idx': ...","{'word': '행정안전부', 'start_idx': 29, 'end_idx': ...",no_relation,wikipedia
277,277,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...","{'word': '강태환', 'start_idx': 62, 'end_idx': 64...","{'word': '색소폰', 'start_idx': 58, 'end_idx': 60...",no_relation,wikitree
630,630,"배우 마동석, 박정민, 정해인, 염정아, 최성은, 윤경호 씨가 출연하는 영화 '시동...","{'word': '최성은', 'start_idx': 23, 'end_idx': 25...","{'word': ""시동'"", 'start_idx': 44, 'end_idx': 46...",no_relation,wikitree
1386,1386,"특히, KRI 한국기록원으로부터 2년 연속 공인중개사 최다 합격자 배출 기록을 공식...","{'word': '한국기록원', 'start_idx': 8, 'end_idx': 1...","{'word': 'KRI', 'start_idx': 4, 'end_idx': 6, ...",org:alternate_names,wikitree
1721,1721,그러나 곧 이은 총선에서 한나라당이 원내 1당을 차지했고 연정상대였던 자유민주연합은...,"{'word': '자유민주연합', 'start_idx': 39, 'end_idx':...","{'word': '한나라당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikipedia
...,...,...,...,...,...,...
31786,31786,"그러나, 1940년 달라이 라마 14세의 즉위식에 참석한 중화민국은 행정원몽장위원회...","{'word': '달라이 라마 14세', 'start_idx': 11, 'end_i...","{'word': '중화민국', 'start_idx': 32, 'end_idx': 3...",no_relation,wikipedia
31896,31896,"이용빈 후보는 전)더불어민주당 광산갑 지역위원장, 전)더불어민주당 정책위원회 부의장...","{'word': '더불어민주당', 'start_idx': 10, 'end_idx':...","{'word': '문재인', 'start_idx': 84, 'end_idx': 86...",no_relation,wikitree
32274,32274,결국 2018년 초에 국민의당은 바른미래당과 민주평화당으로 갈라지고 말았다.,"{'word': '바른미래당', 'start_idx': 18, 'end_idx': ...","{'word': '국민의당', 'start_idx': 12, 'end_idx': 1...",no_relation,wikipedia
32282,32282,박능후 중앙재난안전대책본부 1차장(보건복지부 장관)이 중앙재난안전대책본부 정례브리핑...,"{'word': '박능후', 'start_idx': 0, 'end_idx': 2, ...","{'word': '보건복지부 장관', 'start_idx': 19, 'end_idx...",per:title,policy_briefing
32299,32299,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,"{'word': '정복동', 'start_idx': 15, 'end_idx': 17...","{'word': '김병철', 'start_idx': 3, 'end_idx': 5, ...",per:alternate_names,wikitree

In [8]:
dataset.loc[(277, 3296, 10202), :]

,id,sentence,subject_entity,object_entity,label,source
277,277,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...","{'word': '강태환', 'start_idx': 62, 'end_idx': 64...","{'word': '색소폰', 'start_idx': 58, 'end_idx': 60...",no_relation,wikitree
3296,3296,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...","{'word': '강태환', 'start_idx': 62, 'end_idx': 64...","{'word': '색소폰', 'start_idx': 58, 'end_idx': 60...",per:title,wikitree
10202,10202,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...","{'word': '강태환', 'start_idx': 62, 'end_idx': 64...","{'word': '색소폰', 'start_idx': 58, 'end_idx': 60...",no_relation,wikitree

In [9]:
dataset.loc[(4212, 25094), :]

,id,sentence,subject_entity,object_entity,label,source
4212,4212,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,"{'word': '전라남도', 'start_idx': 3, 'end_idx': 6,...","{'word': '여수시', 'start_idx': 26, 'end_idx': 28...",org:members,wikitree
25094,25094,한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 ...,"{'word': '전라남도', 'start_idx': 3, 'end_idx': 6,...","{'word': '여수시', 'start_idx': 26, 'end_idx': 28...",org:place_of_headquarters,wikitree

In [10]:
dataset.loc[(6749, 12829), :]

,id,sentence,subject_entity,object_entity,label,source
6749,6749,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,"{'word': '대한항공', 'start_idx': 0, 'end_idx': 3,...","{'word': '조양호', 'start_idx': 9, 'end_idx': 11,...",no_relation,wikipedia
12829,12829,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량...,"{'word': '대한항공', 'start_idx': 0, 'end_idx': 3,...","{'word': '조양호', 'start_idx': 9, 'end_idx': 11,...",org:top_members/employees,wikipedia

In [11]:
dataset.loc[(8364, 32299), :]

,id,sentence,subject_entity,object_entity,label,source
8364,8364,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,"{'word': '정복동', 'start_idx': 15, 'end_idx': 17...","{'word': '김병철', 'start_idx': 3, 'end_idx': 5, ...",no_relation,wikitree
32299,32299,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우...,"{'word': '정복동', 'start_idx': 15, 'end_idx': 17...","{'word': '김병철', 'start_idx': 3, 'end_idx': 5, ...",per:alternate_names,wikitree

In [12]:
dataset.loc[(11511, 22258), :]

,id,sentence,subject_entity,object_entity,label,source
11511,11511,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...","{'word': '배트맨', 'start_idx': 16, 'end_idx': 18...","{'word': '고담시', 'start_idx': 24, 'end_idx': 26...",per:place_of_residence,wikitree
22258,22258,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나...","{'word': '배트맨', 'start_idx': 16, 'end_idx': 18...","{'word': '고담시', 'start_idx': 24, 'end_idx': 26...",no_relation,wikitree

In [13]:
dataset.label[3296] = 'no_relation'
dataset.label[25094] = 'org:members'
dataset.label[6749] = 'org:top_members/employees'
dataset.label[8364] = 'per:alternate_names'
dataset.label[11511] = 'no_relation'

# 위의 방식일 경우 SettingWithCopyWarning 발생
# https://emilkwak.github.io/pandas-dataframe-settingwithcopywarning
# 원본을 바꿀 것이기 때문에 그냥 사용함


# -------------------------무시-------------------------

# dataset_copy = dataset.copy()[3296:3296+5]
# dataset_copy.label[3296] = 'no_relation'

# dataset_copy = dataset.copy()[25094:25094+5]
# dataset_copy.label[25094] = 'no_relation'

# dataset_copy = dataset.copy()[6749:6749+5]
# dataset_copy.label[6749] = 'org:top_members/employees'

# dataset_copy = dataset.copy()[8364:8364+5]
# dataset_copy.label[8364] = 'per:alternate_names'

# dataset_copy = dataset.copy()[3296:3296+5]
# dataset_copy.label[11511] = 'no_relation'

# 위의 방식일 경우 
# 다른 행들을 저장할 수 없음


# dataset_copy = dataset.copy()[:]
# dataset_copy.label[3296] = 'no_relation'
# dataset_copy.label[25094] = 'no_relation'
# dataset_copy.label[6749] = 'org:top_members/employees'
# dataset_copy.label[8364] = 'per:alternate_names'
# dataset_copy.label[11511] = 'no_relation'

# 위의 방식일 경우 SettingWithCopyWarning 발생
# https://emilkwak.github.io/pandas-dataframe-settingwithcopywarning

# -------------------------무시-------------------------

<ipython-input-13-66717cfcfa24>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.label[3296] = 'no_relation'
<ipython-input-13-66717cfcfa24>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.label[25094] = 'org:members'
<ipython-input-13-66717cfcfa24>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.label[6749] = 'org:top_members/employees'
<ipython-input-13-66717cfcfa24>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.label[8364] = 'per:alternate_names'
<ipython-input-13-66717cfcfa24>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.label[11511] = 'no_relation'

In [14]:
# 수정 데이터 확인
# dataset.label[3296]
# dataset.label[25094]
# dataset.label[6749]
# dataset.label[8364]
dataset.label[11511]

'no_relation'

In [15]:
# 중복 데이터 처음 값 하나씩 남겨두고 삭제
dataset.drop_duplicates(['sentence', 'subject_entity', 'object_entity'], keep='first', inplace=True)

In [16]:
dataset.to_csv("../dataset/train/train.csv", sep=",", index = False)